@use './variables' as *;

footer {
  background-color: $application-background-color;
}

.information-box {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: .75rem auto 1.5rem;

  a {
    display: inline-block;
    margin: 1.5rem;
  }
}

.information-text {
  margin-top: .5rem;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: .125rem;
}

.credit {
  margin: 1.25rem auto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: $letter-spacing-standard;
}

.stripes-container {
  height: 3.125rem;

  div {
    height: .1875rem;
    background-color: $orange-muted;

    &:nth-child(2),
    &:nth-child(6) {
      background-color: $rainbow-blue;
    }

    &:nth-child(3),
    &:nth-child(5) {
      background-color: $rainbow-green;
    }

    &:nth-child(4) {
      background-color: $rainbow-yellow;
    }
  }
}

.shapes-field {
  padding: 4rem 1rem;
}

.shape {
  position: relative;
  display: inline-block;
  border: 5px solid $application-background-color;
  margin: .5rem;

  &.position-0 {
    top: 2rem;
  }

  &.position-1 {
    right: 2rem;
  }

  &.position-2 {
    bottom: 2rem;
  }

  &.position-3 {
    left: 2rem;
  }

  &.size-0 {
    width: 4rem;
    height: 4rem;
  }

  &.size-1 {
    width: 6rem;
    height: 6rem;
  }

  &.size-2 {
    width: 8rem;
    height: 8rem;
  }

  &.size-3 {
    width: 10rem;
    height: 10rem;
  }

  &.form-0 {
    border-radius: 87% 13% 68% 32% / 41% 13% 87% 59%;
  }

  &.form-1 {
    border-radius: 56% 44% 64% 36% / 41% 79% 21% 59%;
  }

  &.form-2 {
    border-radius: 23% 77% 20% 80% / 25% 55% 45% 75%;
  }

  &.form-3 {
    border-radius: 15% 85% 16% 84% / 25% 83% 17% 75%
  }

  &.rotation-0 {
    transform: rotate(0deg);

    &.flip-1 {
      transform: rotate(0deg) scaleX(-1);
    }
  }

  &.rotation-1 {
    transform: rotate(60deg);
  }

  &.rotation-1.flip-1 {
    transform: rotate(60deg) scaleX(-1);
  }

  &.rotation-2 {
    transform: rotate(120deg);
  }

  &.rotation-2.flip-1 {
    transform: rotate(120deg) scaleX(-1);
  }

  &.rotation-3 {
    transform: rotate(180deg);
  }

  &.rotation-3.flip-1 {
    transform: rotate(180deg) scaleX(-1);
  }

  &.rotation-4 {
    transform: rotate(240deg);
  }

  &.rotation-4.flip-1 {
    transform: rotate(240deg) scaleX(-1);
  }

  &.rotation-5 {
    transform: rotate(300deg);
  }

  &.rotation-5.flip-1 {
    transform: rotate(300deg) scaleX(-1);
  }

  &.color-0 {
    background-color: $orange-muted;
  }

  &.color-1 {
    background-color: $rainbow-green;
  }

  &.color-2 {
    background-color: $rainbow-blue;
  }

  &.color-3 {
    background-color: $rainbow-yellow;
  }
}

/* Breakpoint Small */

@media (min-width: $breakpoint-sm) {

  .information-box {
    flex-direction: row;
    padding: 1rem 1.5rem;
    margin-bottom: 2.5rem;
  }
}

/* Breakpoint Large */

@media (min-width: $breakpoint-lg) {

.information-box a {
    margin: 1.5rem 2.5rem;
  }
}
