@use './variables' as *;

.projects {
  max-width: 75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem 1.75rem;
  padding: 3rem 2rem 0;
  margin: 0 auto;
}

.project .project-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 419px;
  border: 3px solid $fifty-percent-gray;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  background-color: transparent;

  &:hover {
    border-color: $twenty-five-percent-gray;
    box-shadow: 0 0 1rem $twenty-five-percent-gray;
  }
}

.project-image {
  width: 225px;
  border-radius: 4px;
}

.project-info-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1.5rem;
  color: $application-font-color;
}

.project-info-inner-title {
  margin-bottom: .75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.project-info-text-wrapper {
  line-height: 1.5rem;
  text-align: left;
  font-size: 1rem;
}

.project-info-text {
  margin-top: .5rem;
}

.project-info-stack-wrapper {
  margin-top: 1.25rem;
}

.project-info-stack-title {
  font-weight: 700;
}

.project-info-footer-title {
  padding-block: .75rem .25rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.project-info-footer-links {
  font-weight: 600;
}

/* Breakpoint Small */

@media (min-width: $breakpoint-sm) {

  .projects {
    padding-top: 4rem;
  }
}
