/* Breakpoints from Bootstrap */

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Color Mixes */

$white: #fff;
$black: #000;
$four-percent-gray: #f5f5f5;
$fifty-percent-gray: #7f7f7f;
$ninety-five-percent-gray: #0d0d0d;
$black-screen: rgba(0, 0, 0, .9);
$blue-muted: rgba(112, 115, 255, 1);
$orange-muted: rgba(255, 150, 0, 1);
$rainbow-red: #f27089;
$rainbow-orange: #fca778;
$rainbow-yellow: #fbde84;
$rainbow-green: #9ac479;
$rainbow-blue: #74a6cf;

$application-font-color: $four-percent-gray;
$application-background-color: $ninety-five-percent-gray;

/* Border Radius */

$border-radius-project: 10px;

/* Letter Spacing */

$letter-spacing-standard: .25vw;
