/* Breakpoints from Bootstrap */

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Color Mixes */

$white: #fff;
$black: #000;
$fifty-percent-gray: #7f7f7f;
$black-screen: rgba(0, 0, 0, .9);
$blue-muted: rgba(112, 115, 255, 1);
$orange-muted: rgba(255, 150, 0, 1);
$rainbow-red: #f27089;
$rainbow-orange: #fca778;
$rainbow-yellow: #fbde84;
$rainbow-green: #9ac479;
$rainbow-blue: #74a6cf;

/* Border Radius */

$border-radius-project: 10px;

/* Letter Spacing */

$letter-spacing-standard: .25vw;

/* Styles */

html,
body {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  background-color: $blue-muted;
  color: $white;
}

nav {
  position: fixed;
  right: initial;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  padding: 8px;
  background-color: $rainbow-yellow;

  a {
    margin: auto 12px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: $letter-spacing-standard;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }
}

main,
footer {
  background-color: $black;
}

.tree {
  width: 57%;
  height: 57%;
  margin-top: 65px;
}

.banner-01 {
  position: relative;
  bottom: 14px;
  height: 200px;
}

.banner-02,
.banner-03,
.banner-04 {
  height: 100px;
}

.name-and-occupations {
  margin: 16px auto;
  text-transform: uppercase;
}

.name {
  font-size: 1.75rem;
  letter-spacing: 1.75vw;
}

.occupations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  letter-spacing: 1.125vw;
  color: $rainbow-green;
}

.pipe {
  display: none;
}

.headshot-img {
  border: 4px solid $fifty-percent-gray;
  border-radius: 50%;
}

.text-link {
  text-decoration: none;
  color: $rainbow-yellow;

  &:hover {
    text-decoration: underline;
  }

  &:link,
  &:visited,
  &:focus,
  &:active {
    color: $rainbow-yellow;
  }
}

.paragraph-title {
  margin: 16px auto 10px;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .5vw;
}

p {
  width: 85%;
  max-width: 1000px;
  margin: auto auto 16px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.projects {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 32px;
  margin: 0 auto;
}

.project-container {
  margin: 10px 20px 20px;

  > a {
    display: inline-block; // Override anchor's default inline display to set height
    height: 429px;
  }
}

.project-info-outer {
  position: absolute;
  width: 240px;
  height: 429px;
  display: hidden;
  border: 1px solid transparent;
  border-radius: $border-radius-project;
  color: transparent;
  user-select: none;
}

.project-info-outer:hover {
  display: block;
  border-color: $rainbow-blue;
  background-color: $black-screen;

  .project-info-title {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: $letter-spacing-standard;
    color: $rainbow-yellow;
  }

  .project-info-text {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
    text-align: left;
    color: $white;

    > div {
      margin-top: 8px;
    }

    .front-end {
      color: $rainbow-green;
    }

    .back-end {
      color: $rainbow-orange;
    }
  }
}

.project-info-inner {
  padding: 48px;
}

.project-img {
  width: 240px;
  height: 429px;
  border-radius: $border-radius-project;
}

.project-title {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: $letter-spacing-standard;
  color: $rainbow-yellow;
}

.project-routing-links {
  margin-top: 8px;

  a {
    display: block;
    padding: 4px 12px;
    border: 1px solid $white;
    border-radius: 8px;
    margin: 12px auto;
    font-family: 'Varela Round', sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: $letter-spacing-standard;
    text-decoration: none;

    &:nth-child(2) {
      border-color: $rainbow-blue;
    }

    &:nth-child(3) {
      border-color: $rainbow-green;
    }

    &:nth-child(4) {
      border-color: $rainbow-orange;
    }

    &:link,
    &:visited,
    &:active {
      color: $white;
    }

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

.contact-box {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  border: 1px solid $rainbow-red;
  border-radius: 16px;
  margin: 24px auto;
  padding: 32px 0;

  a {
    display: inline-block;
    margin: 20px auto;
  }
}

.contact-text {
  margin-top: .5rem;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: .125rem;
}

.credit {
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: $letter-spacing-standard;
}

.stripes-container {
  height: 50px;

  div {
    height: 3px;
    background-color: $orange-muted;

    &:nth-child(2),
    &:nth-child(6) {
      background-color: $rainbow-blue;
    }

    &:nth-child(3),
    &:nth-child(5) {
      background-color: $rainbow-green;
    }

    &:nth-child(4) {
      background-color: $rainbow-yellow;
    }
  }
}

.not-found-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.not-found-text {
  background-color: $black;
  padding: 2rem 2rem 3rem;

  a {
    font-size: 1.5rem;
  }
}

/* Breakpoint Small */

@media (min-width: $breakpoint-sm) {

  nav {
    right: 0;
    justify-content: flex-end;
  }

  .tree {
    width: initial;
    height: initial;
  }

  .banner-01 {
    height: 250px;
  }

  .banner-02,
  .banner-03,
  .banner-04 {
    height: 200px;
  }

  .name {
    font-size: 3.25rem;
  }

  .occupations {
    flex-direction: row;
    font-size: 1.625rem;
    letter-spacing: 1vw;
  }

  .pipe {
    display: block;
  }

  .paragraph-title {
    margin-top: 32px;
    font-size: 2rem;
  }

  p {
    width: 75%;
    margin-bottom: 40px;
    font-size: 1.5rem;
  }

  .project-routing-links a {
    width: 70%;
  }

  .contact-box {
    width: 85%;
    max-width: 1000px;
    flex-direction: row;
    padding: 16px 24px;
    margin-bottom: 40px;
  }
}

/* Breakpoint Medium */

@media (min-width: $breakpoint-md) {

  p {
    width: 60%;
  }
}

/* Breakpoint Large */

@media (min-width: $breakpoint-lg) {

  .name {
    letter-spacing: 1.75vw;
  }

  .occupations {
    letter-spacing: .625rem;
  }
}

/* Breakpoint Extra Large */

@media (min-width: $breakpoint-xl) {

  .name {
    letter-spacing: 1.3125rem;
  }
}