$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i|Varela+Round');

$five-percent-gray: #f2f2f2;
$six-percent-gray: #f0f0f0;
$thirty-percent-gray: #b3b3b3;
$fifty-percent-gray: #7f7f7f;
$seventy-five-percent-gray: #636466;
$black: #000;
$white: #fff;
$red-muted: rgba(246, 65, 84, 1);
$green-muted: rgba(119, 210, 131, 1);
$blue-muted: rgba(112, 115, 255, 1);
$yellow-muted: rgba(255, 230, 100, 1);
$orange-muted: rgba(255, 150, 0, 1);
$rainbow-red: #f27089;
$rainbow-orange: #fca778;
$rainbow-yellow: #fbde84;
$rainbow-green: #9ac479;
$rainbow-blue: #74a6cf;
$grass-green: #b8d77d;
$sky-blue: #a7c5df;
$cloud-white: #f7f0e3;
$lines-brown: #3a2328;
$stem-green: #358d65;

body,
html {
  background-color: $blue-muted;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
  font-weight: 100;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.banner-01 {
  background-image: url('../../public/images/thibodeau_green_tile.jpg');
  height: 200px;
  position: relative;
  top: 33px;
  z-index: 0;
}

.banner-02,
.banner-03,
.banner-04 {
  background-image: url('../../public/images/thibodeau_cool_tile.jpg');
  height: 200px;
  margin: 4em auto;
  top: 0;

  &.banner-03 {
    background-image: url('../../public/images/thibodeau_sunny_tile.jpg');
  }

  &.banner-04 {
    background-image: url('../../public/images/thibodeau_green_tile.jpg');
  }
}

.tree {
  margin: 15px;
}

nav {
  background-color: $rainbow-yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-height: 50px;
  padding: 5px 1vw;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-button {
  background-color: transparent;
  border: 0;
  color: $blue-muted;
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  letter-spacing: 0.3vw;
  margin: 0 0.7em;
  text-transform: uppercase;
}

.title {
  margin: 5px auto;
  padding-top: 10px;
  pointer-events: none;
}

.alec-thibodeau {
  color: $white;
  font-size: 5em;
  letter-spacing: 2vw;
  line-height: 1.3em;
  margin-right: -2vw;
  padding: 30px 0 0;
  text-align: center;
  text-transform: uppercase;
}

.web-developer {
  color: $rainbow-yellow;
  font-size: 3em;
  letter-spacing: 2vw;
  margin-right: -2vw;
  padding: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
}

main {
  background-color: $black;
  margin: 0 auto;
}

.greeting {
  margin: 0 auto;
  width: 70%;
}

.section-area {
  margin: -40px auto 0;
  padding-top: 50px;
}

p {
  color: $white;
  font-size: 1.5em;
  letter-spacing: 0.2vw;
  margin: 0 auto;
  pointer-events: none;
  text-align: left;
  width: 75%;

  &.p-heading {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.5vw;
    margin: 10px auto 10px;
    text-align: center;
    text-transform: uppercase;
  }
}

.headshot-img {
  border: 4px solid $thirty-percent-gray;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.projects-start-point {
  height: 30px;
  top: 30px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.project-img {
  border: 1px solid;
  border-radius: 1em;
  height: 400px;
  margin: 0.5em 2vw 0;
  max-width: 100%;
  width: 240px;
}

.project-link {
  margin: 1em 0 0;
}

.link-button {
  background-color: transparent;
  border: 1px solid $thirty-percent-gray;
  border-radius: 0.5em;
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.3vw;
  margin: 0.75em auto;
  padding: 0.3em 0.75em;
  text-transform: uppercase;
  width: 70%;

  &:link,
  &:hover,
  &:visited,
  &:active {
    color: $thirty-percent-gray;
    text-decoration: none;
  }
}

.contact-box {
  // align-items: flex-end;
  background-color: $cloud-white;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1.5em auto 0;
  max-width: 60%;
  min-height: 120px;
  padding: 1em;
}

.contact-icon {
  margin: 1em;
}

footer {
  background-color: $black;
  color: $five-percent-gray;
  height: 100px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.closing-accent {
  height: 15px;
}

.credit {
  background-color: $black;
  font-size: 0.8em;
  letter-spacing: 0.3vw;
  line-height: 50px;
  text-transform: uppercase;
  top: 100px;
}

.highlight-line-01,
.highlight-line-02,
.highlight-line-03,
.highlight-line-04,
.highlight-line-05,
.highlight-line-06,
.highlight-line-07, {
  background-color: $orange-muted;
  height: 3px;
  width: 100%;

  &.highlight-line-02 {
    background-color: $rainbow-blue;
  }

  &.highlight-line-03 {
    background-color: $rainbow-green;
  }

  &.highlight-line-04 {
    background-color: $rainbow-yellow;
  }

  &.highlight-line-05 {
    background-color: $rainbow-green;
  }

  &.highlight-line-06 {
    background-color: $rainbow-blue;
  }

  &.highlight-line-07 {
    background-color: $orange-muted;
  }
}

.end-space-01 {
  background-color: $black;
  height: 100px;
}

.end-space-02 {
  background-color: $black;
  height: 50px;
}

@media only screen and (max-width: 620px) {
  .alec-thibodeau {
    margin: 0 20px;
  }

  .greeting {
    width: 90%;
  }

  .projects {
    flex-direction: column;
  }

  .project-link {
    margin: 0 0 1em;
  }

  .link-button {
    width: 45%;
  }

  .contact-icon {
    margin: 1em auto;
  }
}

@media only screen and (max-width: 500px) {
  .tree {
    height: 75%;
    width: 75%;
  }

  nav {
    justify-content: center;
  }

  .nav-button {
    margin: 0 0.2em;
  }

  .alec-thibodeau {
    font-size: 3em;
  }

  .web-developer {
    font-size: 2em;
  }

  .banner-01 {
    height: 150px;
  }

  .banner-02,
  .banner-03,
  .banner-04 {
    height: 100px;
    margin: 2em auto;
  }

  p {
    font-size: 1em;
    font-weight: 300;
  }

  .contact-box {
    flex-direction: column;
  }
}
